In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Argentina Policy Analysis

Importing GDP dataset. This dataset was provided by a Kaggle user here: https://www.kaggle.com/datasets/alejopaullier/-gdp-by-country-1999-2022/data. This dataset is in the billions of USD.

In [6]:
gdp_df = pd.read_csv('./ArgentinaEconomicAnalysis/datasets/gdp_by_country_1999_2022.csv')

In [7]:
gdp_df.head()

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Afghanistan, Rep. of.",0,0,0,4.084,4.585,5.971,7.309,8.399,9.892,...,21.555,24.304,0,0,0,0,0,0,0,0
1,Albania,3.444,3.695,4.096,4.456,5.6,7.452,8.376,9.133,10.163,...,14.91,16.053,11.591,12.204,13.214,14.341,15.553,16.996,16.77,18.012
2,Algeria,48.845,54.749,55.181,57.053,68.013,85.016,102.38,114.322,116.158,...,190.432,203.449,175.077,181.71,192.256,202.179,210.906,219.16,163.812,168.195
3,Angola,6.153,9.135,8.936,11.386,13.956,19.8,30.632,43.759,55.37,...,136.415,151.089,102.011,98.815,105.369,112.533,119.403,127.15,70.339,74.953
4,Antigua and Barbuda,0.652,0.678,0.71,0.718,0.754,0.818,0.875,0.962,1.026,...,1.404,1.494,1.285,1.328,1.386,1.458,1.536,1.617,1.405,1.534

In [8]:
# Remove comma and convert string to float. 
gdp_2004 = gdp_df["2004"].str.replace(',', '').astype(float)

In [10]:
# Mean of GDP in 2004
gdp_2004.mean()

230.4501277777778

In [12]:
# Trimmed mean of GDP in 2004
stats.trim_mean(gdp_2004, 0.1)

50.282694444444445

In [15]:
argentina_gdp_df = df[df['Country'] == 'Argentina']

In [16]:
argentina_gdp_df.head()

,Country,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
5,Argentina,283.523,284.204,268.697,97.732,127.643,151.958,181.549,212.702,247.096,...,329.332,347.731,578.705,578.692,589.585,602.868,617.386,633.889,455.172,483.765

In [17]:
unemployment_rate_df = pd.read_csv('./ArgentinaEconomicAnalysis/datasets/unemployment_rate_data/API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_277236.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 69